---
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";
import "../styles/blog.css";
import { Image } from "astro:assets";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"];
}

const { frontmatter } = Astro.props;
---

<Layout>
  <main class="mt-24 grow">
    <h1
      class="text-4xl sm:text-5xl md:text-6xl font-bebas text-center text-gray-200"
    >
      {frontmatter.title}
    </h1>
    <Image
      src={frontmatter.image}
      width={800}
      height={400}
      alt={`Imagen del post ${frontmatter.title}`}
      class="w-full h-auto max-w-2xl mx-auto mt-8 rounded-lg shadow-lg sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl"
    />

    {
      frontmatter.footNoteImage && (
        <div class="mt-4 flex justify-center">
          {frontmatter.footNoteImage && (
            <div
              class="text-gray-400 text-sm mb-2 italic"
              set:html={frontmatter.footNoteImage}
            />
          )}
        </div>
      )
    }

    <article class="blog-article">
      <slot />
    </article>
  </main>
</Layout>
