---
import "../styles/global.css";
import Header from "../components/Header.astro";
// Ensure the file exists at the correct path or update the path if necessary

import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title="Zauriel Espejel - Backend Developer"
      description="Soy Zauriel, un desarrollador backend apasionado por la tecnología y la innovación."
      image="/og-image.png"
    />
  </head>

  <body class="bg-neutral-800">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
