---
import "../styles/global.css";
import Header from "../components/Header.astro";
// Ensure the file exists at the correct path or update the path if necessary

import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title="Zauriel Espejel - Backend Developer"
      description="Soy Zauriel, un desarrollador backend apasionado por la tecnología y la innovación."
      image="/og-image.png"
    />
    <script type="module">
      import { startTypewriterLoop } from "../src/utils/script";
      document.addEventListener("DOMContentLoaded", () => {
        const phrases = [
          "Backend Developer",
          "Mexican",
          "Common good worker",
          "Computer Systems engineer",
          "Java developer",
          "Spring boot developer",
        ];

        // Iniciar el loop automático
        startTypewriterLoop(phrases, 4000); // 2 segundos de pausa entre frases
      });
    </script>
  </head>

  <body class="bg-neutral-800">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
