---
import "../styles/global.css";
import Header from "../components/Header.astro";
// Ensure the file exists at the correct path or update the path if necessary

import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="en">
  <body class="bg-neutral-800 min-h-screen flex flex-col">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
